<!DOCTYPE html>
<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
</head>
<body>
<div id="msgContainer" th:if="${not #strings.isEmpty(sucesso) or not #strings.isEmpty(erro)}">
    <div class="alert alert-success alert-dismissible" role="alert" th:if="${not #strings.isEmpty(sucesso)}"
         id="msgSuccess">
        <span th:text="${sucesso}"></span>
    </div>
    <div class="alert alert-danger alert-dismissible" role="alert" th:if="${not #strings.isEmpty(erro)}" id="msgErro">
        <span th:text="${erro}"></span>
    </div>
</div>
</body>
</html>