<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Daily Blog</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <script src="/jquery/jquery-3.6.0.min.js"></script>
    <!--Google Icon Fonts-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<header>
    <!-- As a link -->
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><strong>Daily Blog</strong></a>
            <a class="btn btn-primary" th:href="@{/updatePost/{id}(id=${post.id})}" role="button">Editar Post</a>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                Apagar Post
            </button>
        </div>
    </nav>
</header>

<main>
    <div class="container" style="width: 60%; padding-bottom: 30px;">
        <nav aria-label="breadcrumb" style="margin-top: 20px;">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page"><a href="/posts">Posts</a></li>
                <li class="breadcrumb-item active" aria-current="page">Post</li>
            </ol>
        </nav>
        <article>
            <!-- Titulo -->
            <h1 class="card-title" style="font-weight: bold; margin-bottom: 20px;"><span
                    th:text="${post.titulo}"></span></h1>
            <!-- Author -->
            <p class="card-subtitle mb-2 text-muted">
                <i class="material-icons">person_outline</i><span th:text="${post.autor}"></span>
                <br>
                <i class="material-icons">date_range</i><span th:text="${post.data}"></span>
            </p>
            <!-- Author -->
            <section>
                <p class="card-text" style="margin-top: 40px;"><span th:utext="${post.texto}"></span></p>
            </section>
        </article>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Apagar Post</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Deseja apagar esse post?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                    <a th:href="@{/delpost/{id}(id=${post.id})}" class="btn btn-primary active" role="button"
                       aria-pressed="true">Sim</a>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>