<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Daily Blog</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <script src="/jquery/jquery-3.6.0.min.js"></script>
</head>
<body>
<header>
    <!-- As a link -->
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><strong>Daily Blog</strong></a>
            <a href="/newpost" class="btn btn-primary" role="button">Criar Post</a>
        </div>
    </nav>
</header>

<section>
    <div class="container" style="width: 60%; padding-bottom:30px; margin-top:20px;">
        <div>
            <th:block th:replace="mensagem"></th:block>
        </div>
        <nav aria-label="breadcrumb" style="margin-top: 20px; ">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Posts</li>
            </ol>
        </nav>
        <div class="card shadow-sm text-dark bg-white mb-3" style="margin-top: 20px;" th:each="post : ${posts}">
            <div class="card-body">
                <!--data e autor do card-->
                <p class="card-subtitle mb-2 text-muted" style="font-size: 0.8rem;">
                    <span th:text="${post.autor}"></span>
                    <span th:text="${post.data}"></span>
                </p>
                <!--titulo e texto abreviado-->
                <a th:href="${(#mvc.url('DC#getPostDetails').arg(0, post.id)).build()}">
                <h4 class="card-title" style="font-weight: bold; color: black; padding-top: 5px;">
                    <span th:text="${post.titulo}"></span>
                </h4></a>
                <p class="card-text">
                    <span th:utext="${#strings.abbreviate(post.texto,400)}"></span>
                </p>
            </div>
        </div>
    </div>
</section>
<script>
    setTimeout(function(){
        $("#msgContainer").fadeOut(500);
    }, 2000);
</script>
</body>
</html>